html, body {
	padding: 0;
	margin:0;
	height: 100%;
}

#background{
	background-image:url(../images/register-background1.jpg); /*https://www.pexels.com/photo/festival-music-rock-sound-92080/*/
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginContainer * {
	color: #fff;
}